{% extends 'explore.html' %}
{% load i18n %}

{% block explore_content %}
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% trans 'Number of grants' %}
      </div>
      <div class="panel-body">
        {{grants_aggregates.count}}
      </div>
    </div>
  </div>
  
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
          <a data-toggle="collapse" href="#collapse1" >{% trans 'Unique IDs' %}</a> ({{ grants_aggregates.unique_ids|length }})
      </div>
      <div id="collapse1" class="panel-body panel-collapse collapse"">
        <ul>
          {% for id in grants_aggregates.unique_ids %}
        <li>{{id}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-md-2">
    <div class="panel {% if grants_aggregates.duplicate_ids|length == 0 %}panel-success{% else %}panel-danger{% endif %}">
      <div class="panel-heading">
          {% if grants_aggregates.duplicate_ids|length == 0 %}
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          {% endif %}
          {% trans 'Duplicate IDs' %}
      </div>
      <div class="panel-body">
        {{ grants_aggregates.duplicate_ids|length }}
      </div>
    </div>
  </div>
  
    <div class="col-md-2">
    <div class="panel {% if grants_aggregates.missing_ids == 0 %}panel-success{% else %}panel-danger{% endif %}">
      <div class="panel-heading">
          {% if grants_aggregates.missing_ids == 0 %}
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          {% endif %}
          {% trans 'Missing IDs' %}
      </div>
      <div class="panel-body">
        {{ grants_aggregates.missing_ids }}
      </div>
    </div>
  </div>
</div><!--End Row -->
<div class="row"> <!--Start Row (Detail Table)-->
  <div class="col-md-12">
    <table class="table table-striped">
      <caption>{% trans "Grants Table:" %}</caption>
      <thead>
        <tr>
          <th>id</th>
          <th>title</th>
          <th>amountAwarded</th>
          <th>dateModified</th>
        </tr>
      </thead>
      <tbody>
        {% for grant in json_data.grants %}
        <tr>
          <td>{{ grant.id }}</td>
          <td>{{ grant.title }}</td>
          <td>{{ grant.amountAwarded }}</td> 
          <td>{{ grant.dateModified }}</td>        
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
