pip
Django<1.9
#^^ rq.filter: <1.9
-e git+https://github.com/OpenDataServices/flatten-tool.git@4eb7e4224eab6ea533c01379d2169172cd92d61e#egg=flattentool
django-bootstrap3
django-debug-toolbar
requests
dealer
django-environ
jsonschema
raven
strict-rfc3339
rfc3987
rfc6266
