pip
Django<1.9
#^^ rq.filter: <1.9
-e git+https://github.com/OpenDataServices/flatten-tool.git@416fe511f1f6a8b93a86d26bc4e3f0333478f125#egg=flattentool
django-bootstrap3
django-debug-toolbar
requests
cached-property
dealer
django-environ
jsonschema
json-merge-patch
raven
strict-rfc3339
rfc3987
rfc6266
