pip
Django<1.12
#^^ rq.filter: <1.12
-e git+https://github.com/OpenDataServices/flatten-tool.git@d629b1a56de58f92d6f249e38db337afe156bf76#egg=flattentool
django-bootstrap3
django-debug-toolbar
requests
cached-property
dealer
django-environ
jsonschema
json-merge-patch
raven
strict-rfc3339
rfc3987
rfc6266
