interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ocds.open-contracting.org/standard/r/1__0__RC/release-package-schema.json
  response:
    body: {string: "{\n    \"id\": \"http://ocds.open-contracting.org/standard/r/1__0__RC/release-package-schema.json\"\
        ,\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\"\
        : \"Schema for an Open Contracting Release Package\",\n    \"description\"\
        : \"Note that all releases within a release package must have a unique releaseID\
        \ within this release package.\",\n    \"type\": \"object\",\n    \"required\"\
        : [\"uri\", \"publisher\", \"publishedDate\", \"releases\"],\n    \"properties\"\
        : {\n        \"uri\": {\n            \"title\": \"Package Identifier\",\n\
        \            \"description\": \"The URI of this package that identifies it\
        \ uniquely in the world.\",\n            \"type\": \"string\",\n         \
        \   \"format\": \"uri\"\n        },\n        \"publishedDate\": {\n      \
        \      \"description\": \"The date that this package was published. Ideally\
        \ this should be the latest date that there is release information in this\
        \ package.\",\n            \"type\": \"string\",\n            \"format\":\
        \ \"date-time\"\n        },\n        \"releases\": {\n            \"type\"\
        : \"array\",\n            \"minItems\": 1,\n            \"items\": { \"$ref\"\
        : \"http://ocds.open-contracting.org/standard/r/1__0__RC/release-schema.json\"\
        \ },\n            \"uniqueItems\": true\n        },\n        \"publisher\"\
        : { \n            \"description\": \"Information to uniquely identify the\
        \ publisher of this package.\",\n            \"type\": \"object\",\n     \
        \       \"properties\": {\n                \"name\": {\n                 \
        \   \"type\": \"string\"\n                },\n                \"scheme\":\
        \ {\n                    \"description\": \"The scheme that holds the unique\
        \ identifiers used to identify the item being identified.\",\n           \
        \         \"type\": [\"string\", \"null\"],\n                    \"format\"\
        : \"uri\"\n                },\n                \"uid\": {\n              \
        \      \"description\": \"The unique ID for this entity under the given ID\
        \ scheme.\",\n                    \"type\": [\"string\", \"null\"]\n     \
        \           },\n                \"uri\": {\n                    \"type\":\
        \ [\"string\", \"null\"],\n                    \"format\" : \"uri\"\n    \
        \            }\n            },\n            \"required\": [\"name\"]\n   \
        \     },\n        \"license\": {\n            \"description\": \"A link to\
        \ the license that applies to the data in this datapackage. A Public Domain\
        \ Dedication or [Open Definition Conformant](http://opendefinition.org/licenses/)\
        \ license is strongly recommended. The canonical URI of the license should\
        \ be used. Documents linked from this file may be under other license conditions.\
        \ \",\n            \"type\": [\"string\", \"null\"],\n            \"format\"\
        : \"uri\"\n        },\n        \"publicationPolicy\": {\n            \"description\"\
        : \"A link to a document describing the publishers [publication policy](http://ocds.open-contracting.org/standard/r/1__0__RC/en/implementation/publication_patterns/#publication-policy).\"\
        ,\n            \"type\": [\"string\", \"null\"],\n            \"format\":\
        \ \"uri\"\n        }\n    }\n}\n"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://ocds.open-contracting.org/standard/r/1__0__RC/release-schema.json
  response:
    body: {string: "{\n    \"id\": \"http://ocds.open-contracting.org/standard/r/1__0__RC/release-schema.json\"\
        ,\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\"\
        : \"Schema for an Open Contracting Release\",\n    \"type\": \"object\",\n\
        \    \"properties\": {\n        \"ocid\": {\n            \"title\": \"Open\
        \ Contracting ID\",\n            \"description\": \"A globally unique identifier\
        \ for this Open Contracting Process. Composed of a publisher prefix and an\
        \ identifier for the contracting process. For more information see the [Open\
        \ Contracting Identifier guidance](http://ocds.open-contracting.org/standard/r/1__0__RC/en/key_concepts/identifiers/#ocid)\"\
        ,\n            \"type\": \"string\",\n            \"mergeStrategy\": \"ocdsOmit\"\
        \n        },\n        \"id\": {\n            \"title\": \"Release ID\",\n\
        \            \"description\": \"A unique identifier that identifies this release.\
        \ A releaseID must be unique within a release-package and must not contain\
        \ the # character.\",\n            \"type\": \"string\",\n            \"mergeStrategy\"\
        : \"ocdsOmit\"\n        },\n        \"date\": {\n            \"title\": \"\
        Release Date\",\n            \"description\": \"The date this information\
        \ is released, it may well be the same as the parent publishedDate, it must\
        \ not be later than the publishedDate from the parent package. It is used\
        \ to determine merge order.\",\n            \"type\": \"string\",\n      \
        \      \"format\": \"date-time\",\n            \"mergeStrategy\": \"ocdsOmit\"\
        \n        },\n        \"tag\": {\n            \"title\": \"Release Tag\",\n\
        \            \"description\": \"A value from the [releaseTag codelist](http://ocds.open-contracting.org/standard/r/1__0__RC/en/schema/codelists#release-tag)\
        \ that identifies the nature of the release being made. Tags may be used to\
        \ filter release, or, in future, for for advanced validation when certain\
        \ kinds of releases should contain certain fields.\",\n            \"type\"\
        : \"array\",\n            \"items\": {\n                \"type\": \"string\"\
        ,\n                \"enum\": [\"planning\", \"tender\", \"tenderAmendment\"\
        , \"tenderUpdate\", \"tenderCancellation\", \"award\", \"awardUpdate\", \"\
        awardCancellation\", \"contract\", \"contractUpdate\", \"contractAmendment\"\
        , \"implementation\", \"implementationUpdate\", \"contractTermination\", \"\
        compiled\"]\n            },\n            \"mergeStrategy\": \"ocdsOmit\"\n\
        \        },\n        \"initiationType\": {\n            \"title\": \"Initiation\
        \ type\",\n            \"description\": \"String specifying the type of initiation\
        \ process used for this contract, taken from the [initiationType](http://ocds.open-contracting.org/standard/r/1__0__RC/en/schema/codelists#initiation-type)\
        \ codelist. Currently only tender is supported.\",\n            \"type\":\
        \ \"string\",\n            \"enum\": [\"tender\"],\n            \"mergeStrategy\"\
        : \"ocdsVersion\"\n        },\n        \"planning\": { \n            \"title\"\
        : \"Planning\",\n            \"description\": \"Information from the planning\
        \ phase of the contracting process. This includes information related to the\
        \ process of deciding what to contract for, when and how.\",\n           \
        \ \"$ref\": \"#/definitions/Planning\"\n        },\n        \"tender\": {\n\
        \            \"title\": \"Tender\",\n            \"description\": \"The activities\
        \ undertaken in order to enter into a contract.\",\n            \"$ref\":\
        \ \"#/definitions/Tender\"\n        },\n        \"buyer\": {\n           \
        \ \"title\": \"Buyer\",\n            \"description\": \"The buyer is the entity\
        \ whose budget will be used to purchase the goods. This may be different from\
        \ the procuring agency who may be specified in the tender data.\",\n     \
        \       \"$ref\": \"#/definitions/Organization\"\n        },\n        \"awards\"\
        : { \n            \"title\": \"Awards\",\n            \"description\": \"\
        Information from the award phase of the contracting process. There may be\
        \ more than one award per contracting process e.g. because the contract is\
        \ split amongst different providers, or because it is a standing offer.\"\
        ,\n            \"type\": \"array\",\n            \"mergeStrategy\": \"arrayMergeById\"\
        ,\n            \"mergeOptions\": {\"idRef\": \"id\"},\n            \"items\"\
        : { \"$ref\": \"#/definitions/Award\" },\n            \"uniqueItems\": true\n\
        \        },\n        \"contracts\": { \n            \"title\": \"Contracts\"\
        ,\n            \"description\": \"Information from the contract creation phase\
        \ of the procurement process.\",\n            \"type\": \"array\",\n     \
        \       \"mergeStrategy\": \"arrayMergeById\",\n            \"mergeOptions\"\
        : {\"idRef\": \"id\"},\n            \"items\": {\"$ref\": \"#/definitions/Contract\"\
        \ },\n            \"uniqueItems\": true\n        },\n        \"language\"\
        : {\n            \"title\": \"Release language\",\n            \"description\"\
        : \"Specifies the default language of the data using either two-digit ISO\
        \ 639-1, or extended BCP47 language tags. The use of two-letter codes from\
        \ ISO 639-1 is strongly recommended.\",\n            \"type\": [\"string\"\
        , \"null\"],\n            \"default\": \"en\",\n            \"mergeStrategy\"\
        : \"ocdsVersion\"\n        }\n    },\n    \"required\": [\"ocid\", \"id\"\
        , \"date\", \"tag\", \"initiationType\"],\n    \"definitions\": {\n      \
        \  \"Planning\": {\n            \"title\": \"Planning\",\n            \"description\"\
        : \"Information from the planning phase of the contracting process. Note that\
        \ many other fields may be filled in a planning release, in the appropriate\
        \ fields in other schema sections, these would likely be estimates at this\
        \ stage e.g. totalValue in tender\",\n            \"type\": \"object\",\n\
        \            \"properties\": {\n                \"budget\": { \"$ref\": \"\
        #/definitions/Budget\" },\n                \"rationale\": {\n            \
        \        \"description\": \"The rationale for the procurement provided in\
        \ free text. More detail can be provided in an attached document.\",\n   \
        \                 \"type\": [\"string\", \"null\"],\n                    \"\
        mergeStrategy\": \"ocdsVersion\"\n                },\n                \"documents\"\
        : {\n                    \"description\": \"A list of documents related to\
        \ the planning process.\",\n                    \"type\": \"array\",\n   \
        \                 \"mergeStrategy\": \"arrayMergeById\",\n               \
        \     \"mergeOptions\": { \"idRef\": \"id\" },\n                    \"items\"\
        : { \"$ref\": \"#/definitions/Document\" }\n                }\n          \
        \  },\n            \"patternProperties\": {\n                \"^(rationale_(((([A-Za-z]{2,3}(-([A-Za-z]{3}(-[A-Za-z]{3}){0,2}))?)|[A-Za-z]{4}|[A-Za-z]{5,8})(-([A-Za-z]{4}))?(-([A-Za-z]{2}|[0-9]{3}))?(-([A-Za-z0-9]{5,8}|[0-9][A-Za-z0-9]{3}))*(-([0-9A-WY-Za-wy-z](-[A-Za-z0-9]{2,8})+))*(-(x(-[A-Za-z0-9]{1,8})+))?)|(x(-[A-Za-z0-9]{1,8})+)))$\"\
        : {\n                    \"type\": [\"string\", \"null\"]\n              \
        \  }\n            }\n        },\n        \"Tender\": {\n            \"title\"\
        : \"Tender\",\n            \"description\": \"Data regarding tender process\
        \ - publicly inviting prospective contractors to submit bids for evaluation\
        \ and selecting a winner or winners.\",\n            \"type\": \"object\"\
        ,\n            \"required\": [\"id\"],\n            \"properties\": {\n  \
        \              \"id\": {\n                    \"title\": \"Tender ID\",\n\
        \                    \"description\": \"An ide[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ocds.open-contracting.org/standard/r/1__0__0/release-schema.json
  response:
    body: {string: "{\n    \"id\": \"http://ocds.open-contracting.org/standard/r/1__0__0/release-schema.json\"\
        ,\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\"\
        : \"Schema for an Open Contracting Release\",\n    \"type\": \"object\",\n\
        \    \"properties\": {\n        \"ocid\": {\n            \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ocds.open-contracting.org/standard/r/1__0__0/release-package-schema.json
  response:
    body: {string: "{\n    \"id\": \"http://ocds.open-contracting.org/standard/r/1__0__0/release-package-schema.json\"\
        ,\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"title\"\
        : \"Schema for an Open Contracting Release Package\",\n    \"description\"\
        : \"Note that all releases within a release[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/ThreeSixtyGiving/standard/master/schema/360-giving-schema.json
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA91c63LbOLL+n6dAabYqcZUsO5fJ7syfKd0sy7pYI8l27NTUKVqELW4oUktS9ni3
        5mnOm5wn2/4avAuQZVue7J5Ugkgk0OhuNLrRHwD9640Qlb+Es7lcWJWfRWUeRcufDw7+Hvrevnpa
        84PbAzuwbqL9w08H6tkPlSraRU7kSrT6+Pmw49w53q1oWZElJpHl2VZgi4miqyo/LKluxb/+u5xF
        6pEtbxzPiRzfC4nKv+gR/lRmqyCQ3uwh9yxtLyphFFBHTCB+Y8twFjhL0EGF6VyKhIRYhdIWjies
        hb/yorAmzkIpojn+BVLu286tE2W1Z74txU3gL8TX7uRUfPrw/q+/vYNKQtKJ9Gr3zjdnKW1HKQXf
        Dqje/6DensizdC+d23lE3PxYO/yQey691YKefq3U261KtVI/GqLs91E[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/ThreeSixtyGiving/standard/master/schema/360-giving-package-schema.json
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA12QPU/DMBCG9/wKy2UkcRGIoXOlig2p3RDDNbk4LsROz2cgivLfcT4F9eDhee+V
        z0+XiHjknc8rrEHuhKyYm51SF+9sOtHMkVYFQcnp9klNbCPvpyYb/sShdxy5KB0JEI/P24P5MlaL
        PTCIA4Fl8Qr5B2hcm20zFt35gjkvlPAaDGERkzeph56X73PWkGuQ2KCPaTeykc9jf9m/F4AI2vmB
        NayNfWGsh9rDTWRm3kUxhOVixUctBN+ZNlyFc/BIubOMlrPc1epUEeLR/HA7/Vx5BlsAFaoGz0iz
        OBXVpHqcWPQOqqXob5YI1lwDLisyBVzzPpnuPvkF8XWo078BAAA=
    headers:
      Content-Type: [text/plain; charset=utf-8]
      ETag: ['"075f7c22e1e2dc0794c53733675bb2e974042160"']
      Source-Age: ['0']
      X-Fastly-Request-ID: [f1a325b7075411237a71d5b793aab7757e05fa44]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/OpenDataServices/flatten-tool/master/flattentool/tests/fixtures/tenders_releases_2_releases.json
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA+VY227bRhB991cs+FCkQCjujUtSb47spinSxHAM9KEohL1K21CkQK4cuIH/vcsV
        Jcu6GIYvVdEKAiwvhztnz4zmHOr7CfCvaL4QpW2nuomG4HtYCsutnOqZ9mvVoizfgrsLFQ/L0bvF
        Da9Uq8tyMJEDyaPNoEVju5ipc/N2mCTiwVir+jRh7ba/FjW61LzVrb/4+zr6DmGIUdwFMBgiGkMS
   [...]
